 html {
      background: darkslategray url("./dark-green-watercolor-brush-stroke.jpg");
      background-size: cover;
      font-family:fantasy;
      text-align: center;
      font-size: 10px;
}

body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}

.title{
    font-size: 50px;
    color: darkcyan;
    padding: 40px 90px;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.336);
    text-align:center;
}

.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid darkcyan;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
        0 0 0 4px rgba(0, 0, 0, 0.048),
        inset 0 0 0 3px darkcyan,
        inset 0 0 10px whitesmoke,
        0 0 10px rgb(255, 255, 255);
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-3px);
}

.hand{
    border-radius: 50%;
    width: 50%;
    height: 6px;
    background: darkcyan;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

